/*CSS files add styling rules to your content */
 

h1 {
  font-style: italic;
  color: #373fff;
}



body{ 
  background-color:blue;
  font: italic 18px sans-serif; 
  color: white;
text-align: center;
  margin: 20px;
} 

.steward {
  color: black;
  border: dashed 6px green;
  padding: 80px 50px 80px 50px;
  margin: 30px 30px 30px 30px
  
}

.textblock {
  float:right;
/*   text-align:center; */
}

/*img {
  float:left;
}*/
.hip{
  float:left;
}
.panda {
  margin 30px;
  color:blue;
  background-color:black;
  padding: 30px;
  margin: 30px 30px 30px 30px;
}


.puppys {
  color:black;
  background-color:blue;
  border: dashed 6px green 
}

.cats{
  color:blue;
  width: 100%;
  background-color:black;

}

.frogs{ 
 color:blue;
background-color:black;

}

.happy{
  color:black;
  background-color:blue;
  border: dashed 6px green 
}

.bf{
  font-size:30px;
 /* float:right;*/
/*text-align:right;*/
}

h2{
  font-size:50px;
}

div{
  width:100px 50px 100px 50px;
}

.gf{
  font-size:50px
}