/*CSS files add styling rules to your content */

/*  body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}
 */
h1 {
  font-style: italic;
  color: #373fff;
}



body{ 
  background-color:blue;
  font: italic 18px sans-serif; 
  color: white;
} 

.steward {
  color:black;
}

.panda {
  color:blue;
  background-color:black;
}

.puppys {
  color:black;
  background-color:green;
}

.cats{
  color:black;
}

.frogs{ 
 color:blue;
background-color:black;
}

.happy{
  color:black;
  background-color:green;
}